body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-image: url('../public/photo-1449247709967-d4461a6a6103.avif');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.boardsView {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  align-items: flex-start;
  column-gap: 15px;
  row-gap: 15px;
  
}

.createBoard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 10px;
  /* background-color: rgb(224, 224, 224); */
  background-color: rgb(214, 214, 219);
  width: 280px;
  height: 150px;
  border-radius: 10px;
}


.allLists {
  margin: 1vw;
  margin-top: 2vw;
  display: flex;
  align-items: flex-start;
  overflow: scroll;
}

.allLists::-webkit-scrollbar,
.cards::-webkit-scrollbar {
  display: none;
}

.deleteButtonForList,
.addButton {
  background: none;
  border: none;
}

.newListButton {
  padding: 15px;
  min-width: 15vw;
  color: black;
  background-color: rgba(8, 9, 80, 0.2);
  border: none;
  border-radius: 15px;
}

.listContainer {
  width: 20vw;
  max-width: 30vw;
  align-items: flex-start;
  background-color: rgba(132, 136, 88, 0.432);
  border-radius: 25px;
  /* color:white; */
  padding: 1vw;
  margin: 1vw;
  margin-top: 0;
  /* border-radius: 0.4vw; */
}


.listHead {
  display: flex;
}

.listName {
  width: 15vw;
  font-size: 24px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cards {
  margin: 1vw;
  overflow: scroll;
}
.cardName{
  font-size: 20px;
}
.cardDiv {
  margin-bottom: 1vw;
  padding: 1vw;
  background-color: rgb(247, 247, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}


.hideDiv {
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
  border-radius: 0.9vw;
  padding-bottom: 2px;
}



.input {
  background-color: rgb(184, 184, 184);
  border-bottom: 1px solid ;
  width: 18vw;
  text-align: center;
  border-radius: 0.9vw;

}

.input::placeholder{
  color: black;
}

.inputHideDiv,
.hideButtons {
  margin: 0.5vw;
}

.hideButton1{
  margin-left: 10vw;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.hideButton,
.deleteButtonForItem {
  border: none;
  border-radius: 0.5vw;
  background-color: rgb(0, 0, 0, 0.2);
  margin-right: 1vw;
}


/* * {
  border: 1px solid red;
} */
